span{
    font-size: 30px;
    color: green;
    cursor: pointer;
}
span:hover{
    font-size: 50 px;
    color: red;
}
#firstspan{
    color:pink;
}
.group{
    color:# FFFFOO;
}
#secondspan{
    color:hotpink;
}
th{
    background-color:black;
    color:white;
    text-transform: uppercase;
}
table{
    border:solid 1px;
    
}
