<!doctype Html>
<html>

    <head>
        <title>First html</title>
        
        <link rel ="stylesheet" href= "../style/style.css">
        
        <style>
            h2, h3, h4, h5, h6 {color:blue;}
            h3{cursor:pointer;}
        </style>
        
    </head>

    <body>
        <h1 style="color:red">Header1</h1>
        
        <h2>header2</h2>
        <h3>header3</h3>
        <h4>header4</h4>
        <h5>header5</h5>
        <h6 class= "group">header6</h6>
        <span> hello world</span><br>
        <span>hola amigos</span><br>
        <span>namaste nepal</span><br>
        <span>how are you</span><br>
        <span id="firstspan"> with id</span><br>
        <span class="group" id="secondspan">second id</span><br>
        <span class="group">group</span><br>
    
           <span>Hello Wrld</span>
     
    </body>
</html>