<!doctype html>
<html>
<head>
<style>
table, th, td {
    border: 2px solid red;
}
</style>
        
    <title>limks and description</title>
    </head>
   
    
    
<body style="background-color:grey;">
<h2>UI assingment:</h2>
    
    <table>
    <thead>
        <tr>
        <th>link</th>
        <th>description</th>
        
    </thead>
        <tr>
            <td><a href= "index.html">index</a></td>
            <td>outline of html document</td>
           
         
        
        </tr>
    <tr>
         <td><a href= "table.html">table</a></td>
        <td>setting up row and columns</td>
        
        </tr>
        <tr>
         <td><a href="list.html">list</a></td>
        <td>ordered list and unordered list</td>
        
        </tr>
        </table>
    </body>
</html>