<!doctype html>
<html>
    <head>
      <title>table</title>
    </head>
     <link rel ="stylesheet" href= "../style/style.css">
        
        
   
    
<body>
    <table>
    <thead>
        <tr>
        <th>first name</th>
        <th>last name</th>
        <th>address</th>
    </thead>
        <tr>
            <td>john</td>
            <td>george</td>
            <td>curious</td>
        </tr>
    <tr>
        <td>doe</td>
        <td>washington</td>
        <td>george</td>
    </tr>
    <tr>
        <td>arlington</td>
        <td>boston</td>
        <td>irving</td>  
    </tr>
    
    </table>
    <h1>links</h1>
    <a href="https://www.google.com" target="_blank">google</a>
    <a href="index.html">facebook</a>
    
 </body>
</html>
    
    
